.center {
    margin: auto;
    width: 50%;
}

.right {
    float: right;
}

.result .read-more {
    margin-top: 10px;
}

.result .result-fare {
    margin-left: 10px;
}

#errors {
    list-style-type: circle;
}

#errors li {
    color: red;
}
